
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
body { font-family: 'Roboto Flex', sans-serif; background-color: #ffffff; color: #333; }
body a, .page-link, .page-item{ text-decoration: none; color: #7B0828;}
.carousel-item img { height: 400px; object-fit: cover; }
.intro { background: #f8f9fa; padding: 2rem; border-radius: 1rem; }
.featured-works { min-height: 200px; }
.card-body a{ text-decoration: none; color: #333}
.card-body a h5{ color: #7B0828; }
footer { background: #343a40; color: #fff; padding: 1rem 0; margin-top: 2rem; }
.text-bg-secondary{background-color: #999799 !important;}
.btn-primary{background-color: #7B0828 !important; border: none !important;}

#breadcrumb-nav{ background-color: #f8f9fa !important; padding: 10px 10px;  }
#breadcrumb-nav .breadcrumb { margin-bottom: 0; }
#breadcrumb-nav .breadcrumb a{ color: #7B0828; }

#opere-evidenza {background-color: #f8f9fa !important; padding: 50px 0; }

.accordion-button{ background-color: #f8f9fa; color: #7B0828; }
.accordion-button:not(.collapsed) { background-color: #f8f9fa; color: #7B0828; }
.accordion-body{ background-color: #fff; color: #333; }

a.footer {color:#fff !important}
